.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: mediumpurple;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.rightSection {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection canvas {
    position: absolute;
    top: 90%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    background: transparent;
}


